<div class="row" >
<div class="col-sm-3">
  <div class="form-group">
    <label for="material_id">Materiales</label>
    <%= f.collection_select :material_id, Material.all, :id, :codigo, {prompt: "Agregar material"}, {class: "form-control input-sm", :required => true} %>
  </div>
</div>
<div class="col-sm-2">
  <div class="form-group">
    <%= f.link_to_remove "Eliminar material", :class=> 'btn btn-warning active' %>
  </div>
</div>
</div>