<div class="row" >
  <table class="table table-bordered">
    <thead>
          <tr>
              <th>Nombre de la institucion</th>
              <th>Trabajo realizado</th>
              <th></th>
            </tr>
        </thead>

        <tbody>
          <tr>
              <td><%= f.collection_select :nombre, InstitutionList.all, :sigla_nombre, :sigla_nombre, {prompt: "Seleccionar"}, {class: "form-control input-sm"} %></td>
              <td><%= f.text_area :trabajo, :class=>'form-control input-sm' %></td>
                <td align="center"><%= f.link_to_remove "Eliminar datos", :class=> 'btn btn-warning active' %></td>
            </tr>
        </tbody>
    </table>
</div>