<div class="row">
  <div class="col-md-4 column">
    <div class="form-group">
     <label for="exampleInputPassword1">Nombre completo</label>
        <%= f.text_field :nombre, :class=>'form-control input-sm' %>
    </div>
  </div>
  <div class="col-md-2 column">
    <div class="form-group">
       
  	</div>
  </div>
  <div class="col-md-3 column">
    <div class="form-group">
     <label for="exampleInputPassword1">telefono del afectado</label>
        <%= f.text_field :telefono, :class=>'form-control input-sm' %>
    </div>
  </div>
  <div class="col-md-2 column">
    <div class="form-group">
       <%= f.link_to_remove "Eliminar datos", :class=> 'btn btn-warning active' %>
  	</div>
  </div>
</div>